name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "**/*.sum"

      - name: Set up tools
        run: make install-tools

      - name: Run checks
        run: make checks

  utest:
    needs: checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tests: [unit-tests-race]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "**/*.sum"

      - name: Set up tools
        run: make install-tools

      - name: Download fabric binaries
        run: make download-fabric

      - name: Run ${{ matrix.tests }}
        run: make ${{ matrix.tests }}

  itest:
    needs: checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tests: [
          atsacc,
          fabric-stoprestart,
          atsafsc,
          iou,
          iou-hsm,
          pingpong,
          stoprestart,
          twonets,
          chaincode-events,
          fabricx-iou
        ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "**/*.sum"

      - name: Set up tools
        run: make install-tools

      - name: Download fabric binaries
        run: make download-fabric

      - name: Docker
        run: make docker-images

      - name: Set up softhsm
        run: make install-softhsm

      - name: Fabric-x setup
        if: startsWith(matrix.tests, 'fabricx')
        run: |
          make fxconfig configtxgen fabricx-docker-images

      - name: Run ${{ matrix.tests }}
        run: make integration-tests-${{ matrix.tests }}
